#J{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #JContent{
        width: 30em;
        display: flex;
        align-items: center;
        #I10Text{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-right: 1em;
        }
        #I10Image{
            width: 40em;
        }
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 556px){
    #J{
    #JContent{
        flex-direction: column;
        width: 20em;
        padding: 0.5em;
        align-items: center;
        #I10Image{
            width: 8em;
        }
    }

    }
}